@font-face {
    font-family: 'TTravels';
    src: url('/static/main/fonts/ttravels/TT Travels Trial Black Italic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'TTravels';
    src: url('/static/main/fonts/ttravels/TT Travels Trial Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'TTravels';
    src: url('/static/main/fonts/ttravels/TT Travels Trial Bold Italic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'TTravels';
    src: url('/static/main/fonts/ttravels/TT Travels Trial Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'TTravels';
    src: url('/static/main/fonts/ttravels/TT Travels Trial DemiBold Italic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'TTravels';
    src: url('/static/main/fonts/ttravels/TT Travels Trial DemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'TTravels';
    src: url('/static/main/fonts/ttravels/TT Travels Trial ExtraBold Italic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'TTravels';
    src: url('/static/main/fonts/ttravels/TT Travels Trial ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'TTravels';
    src: url('/static/main/fonts/ttravels/TT Travels Trial ExtraLight Italic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'TTravels';
    src: url('/static/main/fonts/ttravels/TT Travels Trial ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'TTravels';
    src: url('/static/main/fonts/ttravels/TT Travels Trial Light Italic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'TTravels';
    src: url('/static/main/fonts/ttravels/TT Travels Trial Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'TTravels';
    src: url('/static/main/fonts/ttravels/TT Travels Trial Medium Italic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'TTravels';
    src: url('/static/main/fonts/ttravels/TT Travels Trial Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'TTravels';
    src: url('/static/main/fonts/ttravels/TT Travels Trial Regular Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'TTravels';
    src: url('/static/main/fonts/ttravels/TT Travels Trial Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'TTravels';
    src: url('/static/main/fonts/ttravels/TT Travels Trial Thin Italic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'TTravels';
    src: url('/static/main/fonts/ttravels/TT Travels Trial Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
  }
  