$body-background: #f3f3f3;
$scroolbar-dark: #111111;
$dark-gray: #27272A;
:root {
    --body-background: #{$body-background};
    --scroolbar-dark: #{$scroolbar-dark};
    --dark-gray: #{$dark-gray};
}