$error: #fb4d4d;
$white: #ffffff;
$black: #000000;
$gray: #71717A;
$light-gray: #D4D4D8;
:root {
    --error: #{$error};
    --white: #{$white};
    --black: #{$black};
    --gray: #{$gray};
    --light-gray: #{$light-gray};
}