$error: #fb4d4d;
$white: #ffffff;
$black: #000000;
$purple: #8828FF;
$gray: #c4c4c4;
:root {
    --error: #{$error};
    --white: #{$white};
    --black: #{$black};
    --purple: #{$purple};
    --gray: #{$gray};
}