.main {
  overflow-x: hidden;
  padding-block: 5rem;
}

.main-info-container {
  display: flex;
  justify-content: center;
  padding-inline: 1rem;
}

.main-info-text-container {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  width: min(100%, 40rem);
}

.main-info-title {
  font-size: 1.5rem;
}

.main-info-text {
  margin-block: 2rem;
  font-weight: 500;
  color: var(--gray);
}

.main-info-social-medias-container {
  display: flex;
  gap: 1rem;
}

.main-info-social-media-column {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.1rem solid var(--black);
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}
.main-info-social-media-column i {
  color: var(--black);
  transition: all 0.3s ease;
}
.main-info-social-media-column:hover {
  background: var(--black);
}
.main-info-social-media-column:hover i {
  color: var(--white);
}

.main-info-image-container img {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
}
@media screen and (max-width: 1400px) {
  .main-info-image-container img {
    width: 25rem;
    height: 25rem;
  }
}

@media screen and (max-width: 992px) {
  .main-info-image-container img {
    width: 20rem;
    height: 20rem;
  }
  .main-info-title {
    font-size: 1.35rem;
  }
  .main-info-text {
    font-size: 0.9rem;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 700px) {
  .main-info-container {
    flex-flow: column-reverse;
    align-items: center;
    gap: 2rem;
  }
}
.skills-section {
  margin-top: 6rem;
  padding-inline: 1rem;
}

.skills-main-title {
  text-align: center;
  font-size: 2.5rem;
}

.skills-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 10rem);
  place-content: center;
  gap: 2rem 4rem;
  margin-top: 3rem;
}
@media screen and (max-width: 1400px) {
  .skills-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}

.skill-column {
  display: grid;
  place-items: center;
  width: 100%;
  height: 10rem;
  border: 0.15rem solid var(--black);
  border-radius: 0.25rem;
}
.skill-column img {
  width: 5rem;
  height: 2rem;
  object-fit: cover;
}
.skill-column i {
  font-size: 2rem;
}
.skill-column .skill-title {
  font-size: 1rem;
}
.skill-column,
.skill-column i .skill-title img {
  transition: all 0.3s ease;
}
.skill-column:hover {
  background: var(--black);
}
.skill-column:hover i,
.skill-column:hover .skill-title {
  color: var(--white);
}
.skill-column:hover img {
  filter: brightness(0) invert(1);
}

@media screen and (max-width: 600px) {
  .skills-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
.experience-section {
  margin-top: 6rem;
  background: var(--black);
  padding: 3rem 1rem;
}

.experience-title {
  font-size: 2.5rem;
  text-align: center;
  color: var(--white);
}

.experience-column {
  width: min(100%, 80rem);
  border: 0.1rem solid var(--gray);
  padding: 1.5rem 1rem;
  border-radius: 0.25rem;
  margin: 2rem auto;
  transition: all 0.3s ease;
}
.experience-column:hover {
  background: var(--dark-gray);
  border-color: var(--dark-gray);
}

.experience-head-container {
  display: flex;
  gap: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}
@media screen and (max-width: 600px) {
  .experience-head-container {
    flex-flow: column;
    align-items: start;
  }
}

.experience-head-left-side {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.experience-head-left-side img {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  background: var(--white);
  border-radius: 50%;
}

.experience-head-title {
  font-size: 1.125rem;
  color: var(--white);
  font-weight: 900;
}

.experience-head-data {
  color: var(--light-gray);
}

.experience-text {
  color: var(--light-gray);
  margin-block: 1.5rem 1rem;
  line-height: 140%;
}

.about-me-section {
  margin-block: 6rem;
}

.about-me-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding-inline: 1rem;
}

.about-me-text-container {
  width: min(100%, 50rem);
}

.about-me-image-container img {
  width: 30rem;
  height: 30rem;
  object-fit: contain;
}

.about-me-title {
  font-size: 2.5rem;
}

.about-me-text {
  color: var(--gray);
  margin-top: 1.5rem;
  line-height: 140%;
}

@media screen and (max-width: 1400px) {
  .about-me-image-container img {
    width: 25rem;
    height: 25rem;
  }
}
@media screen and (max-width: 992px) {
  .about-me-container {
    gap: 1rem;
  }
  .about-me-image-container img {
    width: 20rem;
    height: 20rem;
  }
}
@media screen and (max-width: 750px) {
  .about-me-container {
    flex-flow: column;
  }
  .about-me-image-container img {
    width: min(100%, 25rem);
    height: min(100%, 25rem);
  }
}
.projects-section {
  margin-block: 6rem;
  background: var(--black);
}

.projects-container {
  padding: 3rem 1rem;
}

.project-main-title {
  color: var(--white);
  text-align: center;
  font-size: 2.5rem;
}

.projects-wrapper {
  display: grid;
  gap: 6rem;
  margin-top: 6rem;
}

.project-column {
  display: flex;
  justify-content: center;
  gap: 5rem;
}
.project-column:nth-child(even) {
  flex-flow: row-reverse;
}

.project-image-container img {
  width: 30rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 0.5rem;
}
@media screen and (max-width: 1200px) {
  .project-image-container img {
    width: 25rem;
    height: 15rem;
  }
}

.project-content {
  color: var(--white);
  width: min(100%, 40rem);
}

.project-counter {
  font-size: 2.25rem;
  margin-block: 1.5rem;
}

.project-title {
  font-size: 1.25rem;
}

.project-description {
  color: var(--gray);
  line-height: 140%;
  margin-block: 1rem 1.5rem;
}

.project-link i {
  color: var(--white);
}

.view-all-list {
  position: relative;
  display: block;
  width: fit-content;
  margin: 6rem auto 3rem;
  color: var(--white);
  font-weight: 700;
  font-size: 1.5rem;
}
.view-all-list::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.1rem;
  transform: scale(0);
  transform-origin: left;
  width: 100%;
  height: 0.1rem;
  transition: all 0.3s ease;
  background-color: var(--white);
}
.view-all-list:hover::after {
  transform: scale(1);
}

@media screen and (max-width: 992px) {
  .project-column {
    align-items: center;
    flex-flow: column;
  }
  .project-column:nth-child(even) {
    flex-flow: column;
  }
  .project-image-container img {
    width: 40rem;
    height: 20rem;
  }
}
@media screen and (max-width: 750px) {
  .project-column {
    gap: 1rem;
  }
  .project-image-container img {
    width: min(100%, 40rem);
    height: min(100%, 20rem);
  }
}
@media screen and (max-width: 500px) {
  .project-image-container img {
    width: min(100%, 40rem);
    height: 15rem;
  }
}
.contact-container {
  padding-inline: 1rem;
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.contact-form {
  display: grid;
  gap: 0.5rem;
}

.input-container input,
.input-container textarea {
  padding: 1rem 0.5rem;
  width: 25rem;
  border: 0.1rem solid var(--black);
  border-radius: 0.25rem;
  font-size: 1rem;
  color: var(--black);
}
.input-container input::placeholder,
.input-container textarea::placeholder {
  color: var(--gray);
}
.input-container textarea {
  resize: none;
  height: 5rem;
}

.contact-content {
  width: min(100%, 50rem);
}

.contact-button-container {
  display: flex;
  gap: 1rem;
}
.contact-button-container .contact-button {
  background: var(--black);
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  box-shadow: none;
  border: 0.1rem solid var(--black);
  font-size: 1rem;
  cursor: pointer;
  width: 10rem;
  transition: all 0.4s ease;
  font-weight: 500;
}
.contact-button-container .contact-button:hover {
  color: var(--black);
  background: var(--white);
}

.contact-button-social-medias-container {
  display: flex;
  justify-content: space-between;
  width: 14rem;
}

.contact-title {
  font-size: 2.5rem;
}

.contact-text {
  color: var(--gray);
  margin-block: 1rem 2rem;
}

.contact-email {
  color: var(--black);
  font-weight: 600;
}

@media screen and (max-width: 900px) {
  .contact-container {
    gap: 1rem;
  }
  .input-container input,
  .input-container textarea {
    width: 20rem;
  }
  .contact-button-container .contact-button {
    width: 8rem;
  }
  .contact-button-social-medias-container {
    width: 11rem;
  }
  .contact-title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 700px) {
  .contact-container {
    flex-flow: column-reverse;
  }
  .input-container input,
  .input-container textarea {
    width: min(100%, 25rem);
  }
  .contact-button-container .contact-button {
    width: 10rem;
  }
  .contact-button-social-medias-container {
    width: 14rem;
  }
}
@media screen and (max-width: 450px) {
  .contact-container {
    flex-flow: column-reverse;
  }
  .input-container input,
  .input-container textarea {
    width: min(100%, 25rem);
  }
  .contact-button-container {
    flex-flow: column;
  }
  .contact-button-container .contact-button {
    width: 100%;
  }
  .contact-button-social-medias-container {
    width: max-content;
    gap: 1rem;
    justify-content: start;
  }
}
.header {
  position: fixed;
  width: 100%;
  z-index: var(--z-index-10);
  transition: all 0.3s ease;
}
.header.active {
  background-color: rgba(255, 255, 255, 0.06);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  -webkit-box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
  box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.site-navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.header-left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.header-logo-part {
  width: 7rem;
  height: 3rem;
}
.header-logo-part img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header-links-container {
  display: flex;
  align-items: center;
}
.header-links-container .header-links-wrapper {
  display: flex;
  gap: 2rem;
}

.header-link {
  position: relative;
  color: var(--black);
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease;
}
.header-link::after {
  content: "";
  position: absolute;
  bottom: -0.1rem;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background: var(--black);
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}
.header-link:hover::after {
  transform: scaleX(1);
}

.header-right-side {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header-right-side .header-btn-contact {
  display: inline-flex;
  align-items: center;
  color: var(--white);
  background: var(--black);
  border: 1px solid transparent;
  outline: none;
  padding: 0.5rem 1.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  height: 2rem;
  transition: all 0.3s ease;
}
.header-right-side .header-btn-contact:hover {
  background-color: var(--white);
  color: var(--black);
  border-color: var(--black);
}
@media screen and (max-width: 400px) {
  .header-right-side .header-btn-contact {
    display: none;
  }
}

.menu-controller-container {
  display: none;
  z-index: var(--z-index-11);
}

@media screen and (max-width: 992px) {
  body:has(.header-links-container.active) .menu-controller-container .menu-icon i {
    color: var(--white);
  }
  .header-links-container.active {
    transform: scaleX(1);
  }
  .header-links-container {
    position: absolute;
    justify-content: center;
    background: var(--black);
    z-index: var(--z-index-10);
    width: 100%;
    height: 100vh;
    transform: scaleX(0);
    transform-origin: right;
    transition: 0.3s all ease-in-out;
    right: 0;
    top: 0;
  }
  .header-links-container .header-links-wrapper {
    flex-flow: column;
  }
  .header-links-container .header-links-wrapper li {
    text-align: center;
  }
  .header-links-container .header-links-wrapper .header-link {
    color: var(--white);
    text-align: center;
    font-size: 2rem;
  }
  .header-links-container .header-links-wrapper .header-link::after {
    background: var(--white);
    height: 0.15rem;
  }
  .menu-controller-container {
    display: block;
    height: fit-content;
    width: max-content;
  }
  .menu-controller-container .menu-icon {
    color: var(--black);
    font-size: 1.5rem;
    cursor: pointer;
    background: none;
    border: none;
  }
  .menu-controller-container .menu-icon i {
    transition: all 0.5s ease-in-out;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--black);
  padding: 0.25rem 1rem;
  min-height: 4rem;
  gap: 1rem;
}

.footer-logo {
  width: 7rem;
  height: 3rem;
  margin-right: 1rem;
}
.footer-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer-copyright-side .footer-copyright-text {
  color: var(--white);
  font-size: 1rem;
  font-weight: 500;
  text-align: end;
}

@media screen and (max-width: 500px) {
  .footer {
    padding: 0.25rem 1rem 0.25rem 0;
  }
}
:root {
  --z-index_-1: -1;
  --z-index-0: 0;
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-4: 4;
  --z-index-5: 5;
  --z-index-6: 6;
  --z-index-7: 7;
  --z-index-8: 8;
  --z-index-9: 9;
  --z-index-10: 10;
  --z-index-11: 11;
}

:root {
  --error: #fb4d4d;
  --white: #ffffff;
  --black: #000000;
  --gray: #71717A;
  --light-gray: #D4D4D8;
}

:root {
  --body-background: #f3f3f3;
  --scroolbar-dark: #111111;
  --dark-gray: #27272A;
}

@font-face {
  font-family: "TTravels";
  src: url("/static/main/fonts/ttravels/TT Travels Trial Black Italic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "TTravels";
  src: url("/static/main/fonts/ttravels/TT Travels Trial Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "TTravels";
  src: url("/static/main/fonts/ttravels/TT Travels Trial Bold Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "TTravels";
  src: url("/static/main/fonts/ttravels/TT Travels Trial Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TTravels";
  src: url("/static/main/fonts/ttravels/TT Travels Trial DemiBold Italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "TTravels";
  src: url("/static/main/fonts/ttravels/TT Travels Trial DemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TTravels";
  src: url("/static/main/fonts/ttravels/TT Travels Trial ExtraBold Italic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "TTravels";
  src: url("/static/main/fonts/ttravels/TT Travels Trial ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "TTravels";
  src: url("/static/main/fonts/ttravels/TT Travels Trial ExtraLight Italic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "TTravels";
  src: url("/static/main/fonts/ttravels/TT Travels Trial ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "TTravels";
  src: url("/static/main/fonts/ttravels/TT Travels Trial Light Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "TTravels";
  src: url("/static/main/fonts/ttravels/TT Travels Trial Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "TTravels";
  src: url("/static/main/fonts/ttravels/TT Travels Trial Medium Italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "TTravels";
  src: url("/static/main/fonts/ttravels/TT Travels Trial Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TTravels";
  src: url("/static/main/fonts/ttravels/TT Travels Trial Regular Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "TTravels";
  src: url("/static/main/fonts/ttravels/TT Travels Trial Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TTravels";
  src: url("/static/main/fonts/ttravels/TT Travels Trial Thin Italic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "TTravels";
  src: url("/static/main/fonts/ttravels/TT Travels Trial Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
:root {
  --ttravels: TTravels, system-ui, -apple-system, Segoe UI, roboto, Helvetica Neue, arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
li,
ul,
address,
i,
strong {
  white-space: normal !important;
  word-wrap: break-word !important;
  word-break: break-word !important;
}

* {
  scroll-behavior: smooth !important;
}

:root {
  --rem: 16px;
  font-size: calc(var(--rem) + 4 * (100vw - 320px) / 960);
}

@media screen and (min-width: 2500px) {
  :root {
    --rem: 16px;
  }
}
@media screen and (min-width: 3000px) {
  :root {
    --rem: 18.5px;
  }
}
@media screen and (min-width: 3500px) {
  :root {
    --rem: 21px;
  }
}
@media screen and (min-width: 4000px) {
  :root {
    --rem: 23.5px;
  }
}
@media screen and (min-width: 4500px) {
  :root {
    --rem: 26px;
  }
}
@media screen and (min-width: 5000px) {
  :root {
    --rem: 28.5px;
  }
}
@media screen and (min-width: 5500px) {
  :root {
    --rem: 31px;
  }
}
@media screen and (min-width: 6000px) {
  :root {
    --rem: 33.5px;
  }
}
@media screen and (min-width: 6500px) {
  :root {
    --rem: 36px;
  }
}
@media screen and (min-width: 7000px) {
  :root {
    --rem: 38.5px;
  }
}
@media screen and (min-width: 7500px) {
  :root {
    --rem: 41px;
  }
}
@media screen and (min-width: 8000px) {
  :root {
    --rem: 43.5px;
  }
}
@media screen and (min-width: 8500px) {
  :root {
    --rem: 46px;
  }
}
@media screen and (min-width: 9000px) {
  :root {
    --rem: 48.5px;
  }
}
@media screen and (min-width: 9500px) {
  :root {
    --rem: 51px;
  }
}
@media screen and (min-width: 10000px) {
  :root {
    --rem: 53.5px;
  }
}
@media screen and (min-width: 10500px) {
  :root {
    --rem: 56px;
  }
}
@media screen and (min-width: 11000px) {
  :root {
    --rem: 58.5px;
  }
}
@media screen and (min-width: 11500px) {
  :root {
    --rem: 61px;
  }
}
@media screen and (min-width: 12000px) {
  :root {
    --rem: 63.5px;
  }
}
@media screen and (min-width: 12500px) {
  :root {
    --rem: 66px;
  }
}
@media screen and (min-width: 13000px) {
  :root {
    --rem: 68.5px;
  }
}
@media screen and (min-width: 13500px) {
  :root {
    --rem: 71px;
  }
}
@media screen and (min-width: 14000px) {
  :root {
    --rem: 73.5px;
  }
}
@media screen and (min-width: 14500px) {
  :root {
    --rem: 76px;
  }
}
@media screen and (min-width: 15000px) {
  :root {
    --rem: 78.5px;
  }
}
@media screen and (min-width: 15500px) {
  :root {
    --rem: 81px;
  }
}
@media screen and (min-width: 16000px) {
  :root {
    --rem: 83.5px;
  }
}
@media screen and (min-width: 16500px) {
  :root {
    --rem: 86px;
  }
}
@media screen and (min-width: 17000px) {
  :root {
    --rem: 88.5px;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background: none !important;
  -webkit-box-shadow: transparent !important;
  -webkit-transition: color 9999999s ease-out, background-color 9999999s ease-out;
}

.important-word, .important-word-no-padding {
  display: inline-block;
  color: var(--white);
  background: var(--black);
  padding: 0.1rem 0.5rem;
  border-radius: 1rem;
  text-wrap: nowrap;
}

.important-word-no-padding {
  padding-block: 0;
  margin-block: 0.1rem;
}

.link-with-underline-style, .link-with-underline-style-dark {
  position: relative;
  color: var(--white);
  font-family: var(--grotext-sans);
  width: fit-content;
}
.link-with-underline-style::after, .link-with-underline-style-dark::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: -0.25rem;
  left: 0;
  background: var(--white);
  transition: all 0.4s ease;
}
.link-with-underline-style:hover::after, .link-with-underline-style-dark:hover::after {
  width: 100%;
}

.link-with-underline-style-dark {
  color: var(--purple);
}
.link-with-underline-style-dark::after {
  background: var(--black);
}

.before-component-style::before, .before-component-style::after {
  content: "";
  position: absolute;
  border-radius: 30.269rem;
  opacity: 0.8;
  background: var(--before-background);
  filter: blur(100px);
  width: 10rem;
  height: 10rem;
  inset: 0;
}
.before-component-style::after {
  right: 0;
  bottom: 0;
  left: unset;
  top: unset;
}

.animated-block {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes appear {
  0% {
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
  }
  100% {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: var(--ttravels);
}
*::selection {
  background: var(--black);
  color: var(--white);
}

html {
  padding: 0;
  margin: 0;
}
html body {
  scroll-behavior: smooth;
}
html a {
  text-decoration: none;
}

body {
  margin: 0;
  display: grid;
  grid-template-areas: "header" "content" "footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  gap: 3rem;
  margin: 0 auto;
  background: var(--white);
}

.header {
  grid-area: header;
}

.main {
  grid-area: content;
  background: var(--background-white);
}

.footer {
  grid-area: footer;
}

::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.2rem;
  overflow-x: none;
  background: var(--scroolbar-dark);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.3rem;
  background: var(--gray);
  width: 0.2rem;
}

/*# sourceMappingURL=global.css.map */
