@import "./pages/_importpages";
@import "./layout/_import";
@import "./z-index-properties/_import_z_index";
@import "./colors/_importcolorbackgound";
@import "./fonts/_importfonts";
@import "./helpers/_helpers";
@import "./components/_components";
@import "./positions/_positions";
@import "./animations/_animations";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  color: var(--white);
}

html {
  padding: 0;
  margin: 0;

  body {
    scroll-behavior: smooth;
  }

  a {
    text-decoration: none;
  }
}

// HEADER-CONTENT-FOOTER POSITIONS 

body {
  margin: 0;
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  gap: 3rem;
  margin: 0 auto;
  background: var(--black);
}

.header {
  grid-area: header;
}

.main {
  grid-area: content;
  background: var(--background-white);
}

.footer {
  grid-area: footer;
}

// HEADER-CONTENT-FOOTER POSITIONS END

// ROOT 

:root {
  --hue: 223;
  --bg: hsl(var(--hue), 90%, 90%);
  --fg: hsl(var(--hue), 90%, 10%);
  --trans-dur: 0.3s;
  font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1280 - 320));
}

// ROOT END

// ScroolBar

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
  overflow-x: none;
  background: var(--scroolbar-dark);
}

::-webkit-scrollbar-track {
  border-radius: 0.3em;
  background: var(--scroolbar-dark);
  width: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background: var(--background-purple);
  background: -webkit-linear-gradient(to right, var(--text-light-purple), var(--text-purple));
  background: linear-gradient(to right, var(--text-light-purple), var(--text-purple));
  border-radius: 0.3em;
}

// ScroolBar END