{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
Портфолио
{% endblock %}

{% block content %}
<main class="main">

    <section class="main-info-section" id="mainInfo">
        <div class="main-info-container">
            <div class="main-info-text-container">
                <div class="main-info-text-column fade fadeInDown" data-wow-duration="1s">
                    <h1 class="main-info-title">
                        Я Шахобиддин — <strong class="important-word">FullStack разработчик</strong>
                        воплощающий идеи в код из сердца Узбекистана
                    </h1>
                    <p class="main-info-text">
                        Я увлекся разработкой в 12 лет и начал работать в <strong
                            class="important-word">веб-разработке</strong> уже в
                        14 лет. Мне сейчас 18 лет и за 4 года опыта я накопил знания и навыки, которые позволяют мне
                        создавать уникальные и
                        эффективные веб-решения
                    </p>
                </div>
                <div class="main-info-social-medias-container">
                    <a target="_blank" href="https://github.com/lUkAC1234"
                        class="main-info-social-media-column fade fadeInUp" data-wow-duration="1s">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/shaxobiddin-zuxriddinov-473110294/"
                        class="main-info-social-media-column fade fadeInUp" data-wow-duration="1.25s">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a target="_blank" href="https://t.me/lUkACENkO1"
                        class="main-info-social-media-column fade fadeInUp" data-wow-duration="1.5s">
                        <i class="fa-brands fa-telegram"></i>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/i.really_miss.you_/"
                        class="main-info-social-media-column fade fadeInUp" data-wow-duration="2s">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </div>
            </div>
            <div class="main-info-image-container fade fadeInRight" data-wow-duration="2s">
                <img src="{% static 'main/images/content/mainperson.png' %}" alt="Моя сидящая анимированная фотка">
            </div>
        </div>
    </section>

    <section class="skills-section" id="skills">
        <div class="skills-container">
            <h3 class="skills-main-title fade fadeInUp">Мои навыки</h3>
            <div class="skills-wrapper">
                <div class="skill-column fade fadeInUp">
                    <i class="fa-brands fa-python"></i>
                    <h4 class="skill-title">Python</h4>
                </div>
                <div class="skill-column fade fadeInUp">
                    <i class="fa-brands fa-html5"></i>
                    <h4 class="skill-title">HTML</h4>
                </div>
                <div class="skill-column fade fadeInUp">
                    <i class="fa-brands fa-css3-alt"></i>
                    <h4 class="skill-title">Css</h4>
                </div>
                <div class="skill-column fade fadeInUp">
                    <i class="fa-brands fa-sass"></i>
                    <h4 class="skill-title">Sass/Scss</h4>
                </div>
                <div class="skill-column fade fadeInUp">
                    <i class="fa-brands fa-js"></i>
                    <h4 class="skill-title">JavaScript</h4>
                </div>
                <div class="skill-column fade fadeInUp">
                    <i class="fa-brands fa-vuejs"></i>
                    <h4 class="skill-title">Vue.js</h4>
                </div>
                <div class="skill-column fade fadeInUp">
                    <i class="fa-brands fa-bootstrap"></i>
                    <h4 class="skill-title">Bootstrap</h4>
                </div>
                <div class="skill-column fade fadeInUp">
                    <i class="fa-brands fa-react"></i>
                    <h4 class="skill-title">React</h4>
                </div>
                <div class="skill-column fade fadeInUp">
                    <i class="fa-solid fa-database"></i>
                    <h4 class="skill-title">PostgreSQL</h4>
                </div>
                <div class="skill-column fade fadeInUp">
                    <img src="{% static 'main/images/technologies/drf.svg' %}" alt="Фотография технологии rest">
                    <h4 class="skill-title">Rest</h4>
                </div>
            </div>
        </div>
    </section>

    <section class="experience-section" id="experience">
        <div class="experience-container">
            <h3 class="experience-title fade fadeInUp">Мой опыт</h3>
            <div class="experience-wrapper">
                {% for experience in experiences %}
                <div class="experience-column fade fadeInUp">
                    <div class="experience-head-container">
                        <div class="experience-head-left-side">
                            <div class="experience-head-logo">
                                <img src="{{ experience.logo.url }}" alt="Лого компании {{ experience.company }}">
                            </div>
                            <h4 class="experience-head-title">{{ experience.company }}</h4>
                        </div>
                        <div class="experience-head-data">
                            {{ experience.get_work_period }}
                        </div>
                    </div>
                    <p class="experience-text">
                        {{ experience.text }}
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>


    <section class="about-me-section" id="aboutMe">
        <div class="about-me-container">
            <div class="about-me-image-container fade fadeInDown">
                <img src="{% static 'main/images/content/aboutme.svg' %}" alt="Моя анимированная фотка">
            </div>
            <div class="about-me-text-container">
                <h3 class="about-me-title fade fadeInUp">Обо мне</h3>
                <p class="about-me-text fade fadeInUp">
                    Меня зовут <strong class="important-word-no-padding">Шахобиддин</strong>, и я 
                    <strong class="important-word-no-padding">FullStack Web Developer</strong> с <strong class="important-word-no-padding">4-летним опытом</strong> в создании
                    современных веб-приложений. На протяжении этих лет я работал над множеством проектов, применяя
                    лучшие практики разработки и создавая сайты, которые отвечают высоким стандартам качества и
                    эффективности. В основном я специализируюсь на 
                    <strong class="important-word-no-padding">React.js и Django</strong> 
                    — двух мощных технологиях, которые позволяют создавать динамичные и надежные
                    веб-приложения, обеспечивающие высокий уровень производительности и безопасности.
                    <br><br>
                    Моя работа охватывает весь цикл разработки: от проектирования интерфейсов до создания серверной
                    логики, что дает мне возможность разрабатывать <strong class="important-word-no-padding">полноценные решения</strong> для клиентов. Я уделяю особое
                    внимание <strong class="important-word-no-padding">пользовательскому опыту</strong> и <strong class="important-word-no-padding">оптимизации</strong>, чтобы сайты были не только красивыми, но и
                    функциональными.
                    <br><br>
                    Когда я не занят программированием, я нахожу время для своего хобби — <strong class="important-word-no-padding">игры в шахматы</strong>. Этот
                    интеллектуальный вид спорта помогает мне развивать стратегическое мышление, необходимое для решения
                    сложных задач в разработке. Шахматы учат меня смотреть на проблему с разных сторон, находить лучшие
                    решения и действовать на опережение, что также отражается на моем подходе к созданию сайтов.
                    <br><br>
                    Если вы ищете разработчика, который объединяет в себе <strong class="important-word-no-padding">технические навыки</strong>, креативный подход и умение
                    решать задачи с высокой эффективностью, — я здесь, чтобы помочь вам воплотить ваши идеи в жизнь.
                </p>
            </div>
        </div>
    </section>

    <section class="projects-section" id="projects">
        <div class="projects-container">
            <h3 class="project-main-title fade fadeInUp">Мои проекты</h3>
            <div class="projects-wrapper">
                {% for object in projects %}
                <div class="project-column fade fadeInUp" data-wow-duration="1.25s">
                    <div class="project-image-container">
                        <img src="{{ object.image.url }}" alt="Фотография {{ object.title }}">
                    </div>
                    <div class="project-content">
                        <h4 class="project-counter">0{{ forloop.counter }}</h4>
                        <h4 class="project-title">{{ object.title }}</h4>
                        <p class="project-description">{{ object.short_description }}</p>
                        <a target="_blank" href="{{ object.link }}" class="project-link">
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <a href="{% url 'main:projects' %}" class="view-all-list fade fadeInUp">
                <em>Все проекты</em>
            </a>
        </div>
    </section>

    <section class="contact-section" id="contact">
        <div class="contact-container">
            <form class="contact-form fade fadeInDown" method="POST">
                {% csrf_token %}
                <div class="contact-input-container">
                    <div class="input-container">
                        <input type="text" placeholder="Имя" name="first_name">
                    </div>
                </div>
                <div class="contact-input-container">
                    <div class="input-container">
                        <input type="text" placeholder="Фамилия" name="last_name">
                    </div>
                </div>
                <div class="contact-input-container">
                    <div class="input-container">
                        <textarea placeholder="Сообщение" name="description"></textarea>
                    </div>
                </div>
                <div class="contact-button-container">
                    <button type="submit" class="contact-button">Отправить</button>
                    <div class="contact-button-social-medias-container">
                        <a target="_blank" href="https://github.com/lUkAC1234"
                        class="main-info-social-media-column fade fadeInUp" data-wow-duration="1s">
                        <i class="fa-brands fa-github"></i>
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/in/shaxobiddin-zuxriddinov-473110294/"
                            class="main-info-social-media-column fade fadeInUp" data-wow-duration="1.25s">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                        <a target="_blank" href="https://t.me/lUkACENkO1"
                            class="main-info-social-media-column fade fadeInUp" data-wow-duration="1.5s">
                            <i class="fa-brands fa-telegram"></i>
                        </a>
                        <a target="_blank" href="https://www.instagram.com/i.really_miss.you_/"
                            class="main-info-social-media-column fade fadeInUp" data-wow-duration="2s">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </form>
            <div class="contact-content">
                <h3 class="contact-title fade fadeInUp">Свяжитесь со мной</h3>
                <p class="contact-text fade fadeInUp">Я стремлюсь расширить границы креативности, чтобы создавать увлекательные, удобные и запоминающиеся интерактивные впечатления.</p>
                <a href="mailto:shaxobiddinzuxriddinov@gmail.com" class="contact-email fade fadeInDown">shaxobiddinzuxriddinov@gmail.com</a>
            </div>
        </div>
    </section>
</main>
{% endblock %}

{% block js_block %}

{% endblock %}