.main {
    overflow-x: hidden;
    padding-block: 5rem;
}

.main-info-container {
    display: flex;
    justify-content: center;
    padding-inline: 1rem;
}

.main-info-text-container {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    width: min(100%, 40rem);
}

.main-info-title {
    font-size: 1.5rem;
}

.main-info-text {
    margin-block: 2rem;
    font-weight: 500;
    color: var(--gray);
}

.main-info-social-medias-container {
    display: flex;
    gap: 1rem;
}

.main-info-social-media-column {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    border: 0.1rem solid var(--black);
    border-radius: 0.25rem;
    transition: all 0.3s ease;

    i {
        color: var(--black);
        transition: all 0.3s ease;
    }

    &:hover {
        background: var(--black);

        i {
            color: var(--white);
        }
    }
}

.main-info-image-container {
    img {
        width: 30rem;
        height: 30rem;
        object-fit: cover;

        @media screen and (max-width: 1400px) {
            width: 25rem;
            height: 25rem;
        }
    }
}

@media screen and (max-width: 992px) {
    .main-info-image-container img {
        width: 20rem;
        height: 20rem;
    }

    .main-info-title {
        font-size: 1.35rem;
    }
    
    .main-info-text {
        font-size: 0.9rem;
        margin-top: 1rem;
    }   
}

@media screen and (max-width: 700px) {
    .main-info-container {
        flex-flow: column-reverse;
        align-items: center;
        gap: 2rem;
    }
}

// SKILSS SECTION

.skills-section {
    margin-top: 6rem;
    padding-inline: 1rem;
}

.skills-main-title {
    text-align: center;
    font-size: 2.5rem;
}

.skills-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 10rem);
    place-content: center;
    gap: 2rem 4rem;
    margin-top: 3rem;
    
    @media screen and (max-width: 1400px) {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
}

.skill-column {
    display: grid;
    place-items: center;
    width: 100%;
    height: 10rem;
    border: 0.15rem solid var(--black);
    border-radius: 0.25rem;
    img {
        width: 5rem;
        height: 2rem;
        object-fit: cover;
    }
    i {
        font-size: 2rem;
    }

    .skill-title {
        font-size: 1rem;
    }

    &,
    i
    .skill-title
    img {
        transition: all 0.3s ease;
    }

    &:hover {
        background: var(--black);

        i,
        .skill-title {
            color: var(--white);
        }

        img {
            filter: brightness(0) invert(1); 
        }
    }
}

@media screen and (max-width: 600px) {
    .skills-wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}

// experience section 

.experience-section {
    margin-top: 6rem;
    background: var(--black);
    padding: 3rem 1rem;
}

.experience-title {
    font-size: 2.5rem;
    text-align: center;
    color: var(--white);
}

.experience-column {
    width: min(100%, 80rem);
    border: 0.1rem solid var(--gray);
    padding: 1.5rem 1rem;
    border-radius: 0.25rem;
    margin: 2rem auto;
    transition: all 0.3s ease;

    &:hover {
        background: var(--dark-gray);
        border-color: var(--dark-gray);
    }
}

.experience-head-container {
    display: flex;
    gap: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;

    @media screen and (max-width: 600px) {
        flex-flow: column;
        align-items: start;
    }
}

.experience-head-left-side {
    display: flex;
    align-items: center;
    gap: 1rem;

    img{
        width: 3rem;
        height: 3rem;
        object-fit: contain;
        background: var(--white);
        border-radius: 50%;
    }
}

.experience-head-title {
    font-size: 1.125rem;
    color: var(--white);
    font-weight: 900;
}

.experience-head-data {
    color: var(--light-gray);
}

.experience-text {
    color: var(--light-gray);
    margin-block: 1.5rem 1rem;
    line-height: 140%;
}

// about me section

.about-me-section {
    margin-block: 6rem;
}

.about-me-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding-inline: 1rem;
}

.about-me-text-container {
    width: min(100%, 50rem);
}

.about-me-image-container {
    img {
        width: 30rem;
        height: 30rem;
        object-fit: contain;
    }
}

.about-me-title {
    font-size: 2.5rem;
}

.about-me-text {
    color: var(--gray);
    margin-top: 1.5rem;
    line-height: 140%;
}

@media screen and (max-width: 1400px) {
    .about-me-image-container img {
        width: 25rem;
        height: 25rem;
    }
}

@media screen and (max-width: 992px) {
    .about-me-container {
        gap: 1rem;
    }

    .about-me-image-container img {
        width: 20rem;
        height: 20rem;
    }
}

@media screen and (max-width: 750px) {
    .about-me-container {
        flex-flow: column;
    }

    .about-me-image-container img {
        width: min(100%, 25rem);
        height: min(100%, 25rem);
    }
}

// projects section

.projects-section {
    margin-block: 6rem;
    background: var(--black);
}

.projects-container {
    padding: 3rem 1rem;
}

.project-main-title {
    color: var(--white);
    text-align: center;
    font-size: 2.5rem;
}

.projects-wrapper {
    display: grid;
    gap: 6rem;
    margin-top: 6rem;
}

.project-column {
    display: flex;
    justify-content: center;
    gap: 5rem;

    &:nth-child(even) {
        flex-flow: row-reverse;
    }
}

.project-image-container {
    img {
        width: 30rem;
        height: 20rem;
        object-fit: cover;
        border-radius: 0.5rem;

        @media screen and (max-width: 1200px) {
            width: 25rem;
            height: 15rem;
        }
    }
}

.project-content {
    color: var(--white);
    width: min(100%, 40rem);
}

.project-counter {
    font-size: 2.25rem;
    margin-block: 1.5rem;
}

.project-title {
    font-size: 1.25rem;
}

.project-description {
    color: var(--gray);
    line-height: 140%;
    margin-block: 1rem 1.5rem;
}

.project-link {
    i {
        color: var(--white);
    }
}

.view-all-list {
    position: relative;
    display: block;
    width: fit-content;
    margin: 6rem auto 3rem;
    color: var(--white);
    font-weight: 700;
    font-size: 1.5rem;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -0.1rem;
        transform: scale(0);
        transform-origin: left;
        width: 100%;
        height: 0.1rem;
        transition: all 0.3s ease;
        background-color: var(--white);
    }

    &:hover::after {
        transform: scale(1);
    }
}

@media screen and (max-width: 992px) {
    .project-column {
        align-items: center;
        flex-flow: column;

        &:nth-child(even) {
            flex-flow: column;
        }
    }
    .project-image-container img {
        width: 40rem;
        height: 20rem;
    }
    
}

@media screen and (max-width: 750px) {
    .project-column {
        gap: 1rem;
    }

    .project-image-container img {
        width: min(100%, 40rem);
        height: min(100%, 20rem);
    }
}

@media screen and (max-width: 500px) {
    .project-image-container img {
        width: min(100%, 40rem);
        height: 15rem;
    }
}

// Contact us

.contact-container {
    padding-inline: 1rem;
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.contact-form {
    display: grid;
    gap: 0.5rem;
}

.input-container {
    input,
    textarea {
        padding: 1rem 0.5rem;
        width: 25rem;
        border: 0.1rem solid var(--black);
        border-radius: 0.25rem;
        font-size: 1rem;
        color: var(--black);

        &::placeholder {
            color: var(--gray);
        }
    }

    textarea {
        resize: none;
        height: 5rem;
    }
}

.contact-content {
    width: min(100%, 50rem);
}

.contact-button-container {
    display: flex;
    gap: 1rem;
    .contact-button {
        background: var(--black);
        color: var(--white);
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        box-shadow: none;
        border: 0.1rem solid var(--black);
        font-size: 1rem;
        cursor: pointer;
        width: 10rem;
        transition: all 0.4s ease;
        font-weight: 500;

        &:hover {
            color: var(--black);
            background: var(--white);
        }
    }
}

.contact-button-social-medias-container {
    display: flex;
    justify-content: space-between;
    width: 14rem;
}

.contact-title {
    font-size: 2.5rem;
}

.contact-text {
    color: var(--gray);
    margin-block: 1rem 2rem;
}

.contact-email {
    color: var(--black);
    font-weight: 600;
}

@media screen and (max-width: 900px) {
    .contact-container {
        gap: 1rem;
    }
    
    .input-container {
        input,
        textarea {
            width: 20rem;
        }
    }
    
    .contact-button-container {
        .contact-button {
            width: 8rem;
        }
    }
    
    .contact-button-social-medias-container {
        width: 11rem;
    }
    .contact-title {
        font-size: 2rem;
    }
}

@media screen and (max-width: 700px) {
    .contact-container {
        flex-flow: column-reverse;
    }
    
    .input-container {
        input,
        textarea {
            width: min(100%, 25rem);
        }
    }
    
    .contact-button-container {
        .contact-button {
            width: 10rem;
        }
    }
    
    .contact-button-social-medias-container {
        width: 14rem;
    }
}

@media screen and (max-width: 450px) {
    .contact-container {
        flex-flow: column-reverse;
    }
    
    .input-container {
        input,
        textarea {
            width: min(100%, 25rem);
        }
    }
    
    .contact-button-container {
        flex-flow: column;
        .contact-button {
            width: 100%;
        }
    }
    
    .contact-button-social-medias-container {
        width: max-content;
        gap: 1rem;
        justify-content: start;
    }
}