{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    <meta name="description" content="Собственной портфолио Шахоибиддина, был сделан в 2023 году, FullStack Web Developer">
    <meta property="og:description" content="Собственной портфолио Шахоибиддина, был сделан в 2023 году, FullStack Web Developer">
    <meta name="og:image" content="{% static 'main/images/layout/codecraftheader.svg' %}">
    <meta name="keywords" content="Portfolio, Shaxobiddin, shaxobiddin, Shaxobiddin Portfolio, shaxobiddin portfolio, портфолио, Портфолио, Шахоибиддин, шахобиддин">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="{% static 'main/styles/scss/global.css' %}">

    <link rel="shortcut icon" href="{% static 'main/images/logo/footerlogo.svg' %}" type="image/svg+xml"/>

    {% block title %}{% endblock %}
</head>

<body>

    {% include 'layout/header.html' %}

    {% block content %}

    {% endblock %}

    {% include 'layout/footer.html' %}

    {# ------------------------------------------------------------------------------------------- #}
    {# Scripts #}
    <script src="{% static 'main/scripts/js/main.js' %}"></script>
    {% block js_block %}

    {% endblock %}
</body>

</html>