{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    <meta name="description" content="Websites development and design for your business in the best quality, we are waiting for you!">
    <meta property="og:description" content="Websites development and design for your business in the best quality, we are waiting for you!">
    <meta name="og:image" content="{% static 'main/images/layout/codecraftheader.svg' %}">
    <meta name="keywords" content="Разработка веб-сайтов в Ташкенте CyberCode cybercode сайты в Ташкенте сайты Ташкент websites web development Дизайн веб-сайтов в Ташкенте Создание сайтов в Ташкенте Графический дизайн в Ташкенте Логотипы и брендинг Оптимизация веб-сайтов Разработка корпоративных сайтов Дизайн лендингов Web Development in Tashkent Website Design in Tashkent Website Creation in Tashkent Graphic Design in Tashkent Logos and Branding Website Optimization Corporate Website Development Landing Page Design Разработка веб-сайтов в Европе Дизайн веб-сайтов в Европе Графический дизайн Логотипы и брендинг Оптимизация веб-сайтов Разработка корпоративных сайтов Дизайн лендингов Web Development in Europe Website Design in Europe Graphic Design Logos and Branding Website Optimization Corporate Website Development Landing Page Design">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'main/scripts/js/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'main/styles/scss/global.css' %}">

    <link rel="shortcut icon" href="{% static 'main/images/logo/footerlogo.svg' %}" type="image/svg+xml"/>

    {% block title %}{% endblock %}
</head>

<body>

    {% include 'layout/header.html' %}

    {% block content %}

    {% endblock %}

    {% include 'layout/footer.html' %}

    {# ------------------------------------------------------------------------------------------- #}
    {# Scripts #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    <script src="{% static 'main/scripts/js/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'main/scripts/js/main.js' %}"></script>
    {% block js_block %}

    {% endblock %}
</body>

</html>